AI_Agent/RAG/pinecone向量資料庫/pinecone向量資料庫.json
{
  "name": "pinecone向量資料庫",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "aea3e531-e748-4028-91d3-84ad282bcbe4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1p6m3osMQh4s0tuFwg4Jp4A-Nz7EG9iTj",
            "mode": "list",
            "cachedResultName": "n8n_rag",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1p6m3osMQh4s0tuFwg4Jp4A-Nz7EG9iTj"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        -16
      ],
      "id": "ac69c6e8-c5c5-43c4-9f13-c581fe092b66",
      "name": "搜尋n8n_rag資料夾",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wpB2oMnhHsSdebBC",
          "name": "Google Drive localhost"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "id": "27a4a36f-69d7-4373-8f4d-7de2fc338907",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wpB2oMnhHsSdebBC",
          "name": "Google Drive localhost"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        -16
      ],
      "id": "0890032c-3f7e-410e-a9bf-40e5327c846d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-user1",
          "mode": "list",
          "cachedResultName": "n8n-user1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        112
      ],
      "id": "648d779f-8ef0-4fa5-9973-c98c7c5d3b57",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bOgm2RIPJWKwaYQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        320
      ],
      "id": "b73c09b6-fcc3-4a44-bc9f-abacd0f86b20",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "a2DHnK6MGTaS59sC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        336
      ],
      "id": "417dda53-d9d6-428d-b2bd-e2a7ee67ccfa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        320
      ],
      "id": "0ca793b0-6834-498f-80d8-70920b50841d",
      "name": "When chat message received",
      "webhookId": "7310a549-7248-4658-a832-0e96678e025c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "你是一位熱心服務的專案"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        320
      ],
      "id": "fb6d19c9-f1c5-4209-877d-122a1d671402",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        512
      ],
      "id": "af4ca67a-903c-44e4-befe-d5093f9f0488",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a2DHnK6MGTaS59sC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "取出一些繁體的中文書說明書",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-user1",
          "mode": "list",
          "cachedResultName": "n8n-user1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        560
      ],
      "id": "dd175274-205d-4f4a-b4f5-302a582169a5",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "bOgm2RIPJWKwaYQO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        736
      ],
      "id": "8aa09d1c-9ff9-474b-930c-50dc22e9a921",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "a2DHnK6MGTaS59sC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "搜尋n8n_rag資料夾",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜尋n8n_rag資料夾": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5c24ce42-b32f-4cd1-b67d-76b2790ca146",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  },
  "id": "MDmW5EvLmV4RGpvGrK82D",
  "tags": []
}